@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>用户登录</title>
</head>
<body>
    <a href="~/User/Index">用户首页</a>
    <a href="~/Role/Index">角色首页</a>
    <a href="~/Module/Index">模块首页</a>
    <a href="~/Note/Index">笔记首页</a>
</body>
</html>
